/* imagen de portada */
.imagenPortada{
    width: 800px;
    padding: 20px;
    margin: 40px;
    border: 1px solid black;
}
.carrusel-contenedor {
    width: 80%;
    margin-left: 10%;
    background-color: antiquewhite;
}

/* Main del Inicio */

h1, h2, .parrafoInicio {
    padding: 20px;
    text-align: center;

    .parrafoInicio{
        font-size: 25px;
    }
} 