/* imagenes de vestidos */

@media (max-width:600px){ 

    .container-cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .card {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        transition: background-color 0.3s ease;
        margin: 25px;
        background-color: white;
        overflow: hidden;

    }

    .cardImg {
        height: 80%;
        border-radius: 25px;
        vertical-align: middle;
    }

    
    .cardTitle{
        text-align: center;
    }
}

@media (min-width:600px){
    .container-cards {
        display: grid;
        grid-template-columns: 1fr 1Fr;
        grid-template-rows: 1fr 1Fr;
    }
    
    .card {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        
        margin: 25px;
        background-color: white;
        overflow: hidden;

    }

    .cardImg {
        height: 80%;
        border-radius: 25px;
        vertical-align: middle;
    }
    
    .cardTitle{
        text-align: center;
    }

}