footer {
    background-color: antiquewhite;
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 0px;
    
    .mapa{
        width: 200px;
        height: 200px;

        
    }


}
.copyright{
    background-color: antiquewhite;
    text-align: center;
    padding-bottom: 20px;
}