/* Texto Ofertas */


.tiendaGridContainer {
    display:grid;
    grid-template-columns: 2fr 2fr ;
    grid-template-rows: 1fr 3fr 3fr 3fr;
    margin: 20px;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;

    grid-template-areas:"descuentos descuentos"
    "vestidosCortos    vestidosColgados"
    "vestidosLargos    diezMil"
    "telaDeSeda        octubre";

}

.descuentos{
    grid-area: descuentos;
}
.vestidosCortos {
    grid-area: vestidosCortos;
}
.vestidosColgados {
    grid-area: vestidosColgados;
    
    
}
.vestidosColgados img {
    width: 90%;
}
.vestidosLargos {
    grid-area: vestidosLargos;
}
.diezMil{
    grid-area: diezMil;
}
.telaDeSeda{
    grid-area: telaDeSeda;
    
}
.telaDeSeda img{
    width: 90%;
}
.octubre{
    grid-area: octubre;
}

.tiendaGridItems {
    background-color: rgba(197, 146, 90, 0.64) 
}