@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */
body {
  font-family: "Poppins", sans-serif;
  list-style-type: none;
}

/* imagenes de vestidos */
@media (max-width: 600px) {
  .container-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .card {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    transition: background-color 0.3s ease;
    margin: 25px;
    background-color: white;
    overflow: hidden;
  }
  .cardImg {
    height: 80%;
    border-radius: 25px;
    vertical-align: middle;
  }
  .cardTitle {
    text-align: center;
  }
}
@media (min-width: 600px) {
  .container-cards {
    display: grid;
    grid-template-columns: 1fr 1Fr;
    grid-template-rows: 1fr 1Fr;
  }
  .card {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    transition: background-color 0.3s ease;
    margin: 25px;
    background-color: white;
    overflow: hidden;
  }
  .cardImg {
    height: 80%;
    border-radius: 25px;
    vertical-align: middle;
  }
  .cardTitle {
    text-align: center;
  }
}
footer {
  background-color: antiquewhite;
  padding: 50px;
  margin-top: 20px;
  margin-bottom: 0px;
}
footer .mapa {
  width: 200px;
  height: 200px;
}

.copyright {
  background-color: antiquewhite;
  text-align: center;
  padding-bottom: 20px;
}

/* Texto Ofertas */
@media (max-width: 500px) {
  .tiendaGridContainer {
    display: grid;
    grid-template-columns: 1Fr;
    grid-template-rows: 1fr;
    margin: 20px;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    grid-template-areas: "descuentos descuentos" "vestidosCortos    vestidosColgados" "vestidosLargos    diezMil" "telaDeSeda        octubre";
  }
  .descuentos {
    grid-area: descuentos;
  }
  .vestidosCortos {
    grid-area: vestidosCortos;
    background-color: aquamarine;
    align-self: center;
  }
  .vestidosColgados {
    grid-area: vestidosColgados;
  }
  .vestidosColgados img {
    width: 90%;
  }
  .vestidosLargos {
    grid-area: vestidosLargos;
    background-color: crimson;
    align-self: center;
    margin: 20px;
  }
  .diezMil {
    grid-area: diezMil;
    background-color: darkmagenta;
    align-self: center;
  }
  .telaDeSeda {
    grid-area: telaDeSeda;
  }
  .telaDeSeda img {
    width: 90%;
  }
  .octubre {
    grid-area: octubre;
    background-color: darksalmon;
    align-self: center;
  }
  .tiendaGridItems {
    background-color: rgba(197, 146, 90, 0.64);
  }
}
@media (min-width: 500px) {
  .tiendaGridContainer {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 3fr 3fr 3fr;
    margin: 20px;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    grid-template-areas: "descuentos descuentos" "vestidosCortos    vestidosColgados" "vestidosLargos    diezMil" "telaDeSeda        octubre";
  }
  .descuentos {
    grid-area: descuentos;
  }
  .vestidosCortos {
    grid-area: vestidosCortos;
    background-color: aquamarine;
    align-self: center;
  }
  .vestidosColgados {
    grid-area: vestidosColgados;
  }
  .vestidosColgados img {
    width: 90%;
  }
  .vestidosLargos {
    grid-area: vestidosLargos;
    background-color: crimson;
    align-self: center;
    margin: 20px;
  }
  .diezMil {
    grid-area: diezMil;
    background-color: darkmagenta;
    align-self: center;
  }
  .telaDeSeda {
    grid-area: telaDeSeda;
  }
  .telaDeSeda img {
    width: 90%;
  }
  .octubre {
    grid-area: octubre;
    background-color: darksalmon;
    align-self: center;
  }
  .tiendaGridItems {
    background-color: rgba(197, 146, 90, 0.64);
  }
}
.headerLeft {
  display: flex;
}

header h1 {
  font-size: 30px;
}

/* Medios de pago inicio */
.mediosDePago {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.mediosDePago .pagos {
  text-decoration: none;
  background-color: black;
  color: white;
  width: 150px;
  height: 80px;
  border-radius: 100px;
  padding: 20px;
  margin: 20px;
  text-align: center;
}

/* Logo */
.nombreLogo {
  display: flex;
}

.logo {
  width: 100px;
}

/* Nav bar*/
header nav {
  padding: 20px 0;
}
header nav ul {
  list-style-type: none;
}
header nav ul li {
  margin: 20px;
  text-align: center;
}
header nav ul li a {
  text-decoration: none;
  color: black;
}

.link {
  padding: 2px 4px;
  display: inline-block;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
.link:hover {
  opacity: 1;
}
.link:hover::after {
  transform: scale3d(1, 1, 1);
}
.link::after {
  width: 100%;
  height: 2px;
  content: "";
  display: block;
  transform: scale3d(0, 0, 1);
  transition: all 0.2s ease;
  border-radius: 2px;
  transform-origin: center;
  background-color: black;
}

article form ul li {
  font-size: 30px;
  background-color: rgb(231, 192, 141);
  padding: 30px;
  list-style-type: none;
}

.boton {
  background-color: black;
  color: white;
  width: 200px;
  height: 100px;
  border-radius: 100px;
  padding: 30px;
  margin: 30px;
  text-align: center;
}

/* Formulario */
article form ul li {
  text-align: center;
}

.button {
  text-align: center;
}

/* imagen de portada */
.imagenPortada {
  width: 800px;
  padding: 20px;
  margin: 40px;
  border: 1px solid black;
}

.carrusel-contenedor {
  width: 80%;
  margin-left: 10%;
  background-color: antiquewhite;
}

/* Main del Inicio */
h1, h2, .parrafoInicio {
  padding: 20px;
  text-align: center;
}
h1 .parrafoInicio, h2 .parrafoInicio, .parrafoInicio .parrafoInicio {
  font-size: 25px;
}

@media (min-width: 768px) {
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  footer {
    display: flex;
    justify-content: space-around;
  }
}

/*# sourceMappingURL=style.css.map */
